<div class="modal">
    <div class="modal--cover" (click)="closeModal()">
    </div>
    <div class="modal--content">
        <div class="modal--content__header">
            Add portfolio line
        </div>
        <div class="modal--content__body">
            <div class="modal-row">
                <label>Amount portfolio line:</label>
                <input name="portfolioLineAmount" [(ngModel)]="newPortfolioLine.amount" placeholder="Ex: 33" >
            </div>
            <div class="modal-row">
                <label>Currency portfolio line:</label>
                <input
                        name="portfolioLineCurrency"
                        type="number"
                        [(ngModel)]="newPortfolioLine.currencyUrl"
                        placeholder="Ex: 1 (id of currency)" >
            </div>
        </div>
        <div class="modal--content__footer">
            <div (click)="save()" class="footer-btn save-btn">
                Save
            </div>
            <div (click)="closeModal()" class="footer-btn cancel-btn">
                Cancel
            </div>
        </div>
    </div>
</div>
